.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Optional: Adds some space above the logos */
}

.googleLogo, .naverLogo, .kakaoLogo {
    max-width: 200px; /* Increase this value to make images larger */
    height: auto;
}
